.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.overlay-title {
    position: absolute;
    bottom: 30vh;
    left: 10vw;
    width: 80vw;
}

.overlay-message {
    position: absolute;
    top: 70vh;
    left: 10vw;
    width: 80vw;
    text-align: justify;
}